<html>
    <body>

        <h1 style="background-color:rgb(154, 170, 186);">This is a heading</h1>
        <p style="background-color:rgb(179, 160, 180);">This is a paragraph.</p>
        <h1 style="text-align:center;">Centered Heading</h1>
        <p style="text-align:center;">Centered paragraph.</p>
        <b>This text is bold</b>

        <h1 style="color:Tomato;">Hello World</h1>
        <p style="color:DodgerBlue;">Lorem ipsum...</p>
        <p style="color:MediumSeaGreen;">Ut wisi enim...</p>
    </body>
</html>
